# ENVIRONMENT
NODE_ENV=

# CLIENT_URLS
APP_URL=
LANDING_URL=
API_URL=

# POSTGRES
DATABASE_URL=

# REDIS
REDIS_URL=
CACHE_TTL_SECONDS=

# JWT
JWT_SECRET=
JWT_EXPIRATION_TIME=
JWT_INVITATION_EXPIRATION_TIME=7d

# EMAIL
RESEND_API_KEY=
FROM_EMAIL=
SENDGRID_API_KEY=

# ENCRYPTION_KEY
ENCRYPTION_KEY=c357103a-ffd5-4739-86f5-f1b65cf251f7

# GOOGLE STORAGE
GCS_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_FOLDER_NAME=
GCS_CREDENTIALS_PATH=
GCS_CREDENTIALS_BASE64=

# STRIPE
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# BULLMQ
BULL_BOARD_USER=
BULL_BOARD_PASSWORD=

